@import "bootstrap";

.container {
	width: 800px;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

.header {
	background-color: #000;
	height: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	color: #FFF;

	.region {
		font-size: 17px;
		padding-left: 10px;
		float: left;
	}

	.search {
		float: right;

		input {
			margin-top: 6px;
			background-color: #FFF;
			border-radius: 0;
			border: 0;
			font-size: 13px;
			padding: 3px 6px;
			height: auto;
		}
	}
}

/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
*/

.question {
	border-bottom: 1px solid #eaeaea;
	overflow: hidden;
	padding: 11px 0;
}

.stats {

	float: left;
	margin-right: -190px;

	& > div {
		background: transparent;
		float: left;
		margin: 0 3px 0 0;
		padding: 5px;
		min-width: 48px;
		height: 48px;
		text-align: center;
	}

	.votes {
		color: #555;
	}

	.answers {
		color: #9a4444;
	}

	.views {
		color: #999;
	}

	.count {
		height: 25px;
		font-size: 160%;
		font-weight: normal;
	}

}

.summary {

	margin-left: 190px;

	h3 {
		font-size: 130%;
		font-weight: bold;
		margin: 0;
		margin-bottom: 5px;
		line-height: 1.3;
	}

	.started {
		float: right;
		padding-top: 6px;
		color: #999;
	}

	.tags {

		float: left;

		a {
			background-color: #e0eaf1;
			border-bottom: 1px solid #b3cee1;
			border-right: 1px solid #b3cee1;
			padding: 3px 4px 3px 4px;
			margin: 2px 2px 2px 0;
			text-decoration: none;
			font-size: 90%;
			line-height: 1.4;
			white-space: nowrap;
			display: inline-block;
			border-radius: 0;
			color: #4a6b82;
			font-weight: normal;

			&:hover {
				color: #4a6b82;
				background-color: #c4dae9;
				border-bottom: 1px solid #c4dae9;
				border-right: 1px solid #c4dae9;
				text-decoration: none;
			}
		}

	}

}
